<!--esse trecho sera remanejado para form.html-->
<div style="background-color:gainsboro; padding: 5px;">
    <form action="">
        <input type="checkbox" id="" name="" value="true">
        <label for="anonymous"> anonymous speech??</label><br>
        <textarea class="" name="new_discuss[content]]" placeholder="Your discuss..." rows="1" style="overflow: hidden; overflow-wrap: break-word; height: 58px; user-select: text;"></textarea>
        <input type="submit" class="discuss_form" value="Comment" style="user-select: text;">
    </form>
</div>
<!--esse trecho sera remanejado para form.html-->